@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="margin-top:20px">
        <div style="font-style:italic;margin-bottom:20px" class="panel-heading ">
            <h2 style="">A Little Bit About Kevin Foley..</h2>
        </div>
        <div style="background-color:#ffffe6;" class="panel-body">
            <div style="display:inline-block;vertical-align:top;">
                <img style="max-height:500px; max-width: 500px; float:left" src="~/assets/images/kevleaning.jpg" />
            </div>
            <div style="display:inline-block;">
                <div> Kevin Foley born on the 29th of July 1995. BLAH BLAH BLAH BLAh</div>
            </div>
        </div>
    </div>
</div>